<main>
    <section class="navbar">

        <!-- logo -->
        <img src="/public/svg/mainLogo.svg" alt="Invecta logo" class="navbar-logo">
        
        <!-- versão -->
        <div class="version">
            <button class="versionBtn">v0.1</button>
            <div class="version-log">
                <a href="#">versão</a>
                
            </div>
        </div>

        <div class="functions">
            <img src="/public/svg/search.svg" alt="">
            <img src="/public/svg/config.svg" alt="">
            <img src="/public/svg/layer.svg" alt="">
            <img src="/public/svg/more.svg" alt="" class="more">
            <img src="/public/svg/colorMode.svg" alt="" class="color-mode">
        </div>
        
    </section>
    <section class="main">
        <h2>Organização é a chave do sucesso</h2>
        <h3>Mais controle, menos erros.</h3>
    </section>
</main>
